* { 
    box-sizing: border-box;

}
#heroroad {
    background-image: url(Pictures/heroroad.jpg);
    
    background-size: 100% 100%;
    height: 250px;
}
#heromugs {
    background-image: url(Pictures/heromugs.jpg);
    background-size: 100% 100%;
    height: 250px;
}
#heroguitar{
    background-image: url(Pictures/heroguitar.jpg);
    background-size: 100% 100%;
    height: 250px;
}
body {
    background-image: url(Pictures/background.gif);
    background-color: #FCEBB6;
    color:#221811;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header {
    background-image: url(Pictures/javajamlogo.jpg);
    background-repeat: no-repeat;
    background-color: #D2b48c;
    height: 150px;
}
nav {
    float: left;
    width: 200px;
    padding-top: 10px;
    text-align: center;
    font-size: 1.5em;
    font-weight:bold ;
}
nav a { 
    
    text-decoration:none;
}
nav a:link {
    color:  #FEF6C2;
}
nav a:visited {
    color:   #D2B48C;
}
nav a:hover {
    color: #CC9933;
}
nav ul {
    list-style-type: none;
    padding-left: 0;
}
main {
    
    margin-left: 200px;
    padding: 0 0 2em 0;
    background-color:#FEF6C2 ;
}
h1 {
    padding-top:45px ;
    padding-left:220px ;
    font-size: 3em;
}
h2, h3, h4, p,  main div, main ul, main dl {
    padding-left: 3em;
    padding-right: 2em;
}

h4 {
    background-color:#D2b48c ;
    font-size: 1.2em;
    padding-left: .5em;
    padding-bottom: 0;
    text-transform: uppercase;
    border-bottom: 2px solid #221811;
    clear: left;
}
form{
    padding: 2em;
}
label{
    float: left;
    display: block;
    text-align: right;
    width:8em;
    padding-right: 1em;
}
input, textarea{
    display: block;
    margin-bottom: 1em;

}
#mySubmit{
    margin-right: 9.5em;
}
#herojobs{
    background-image: url(Pictures/herojobs.jpg);
    background-size: 100% 100%;
    height:250px;
}


main table {
    margin-left:auto;
    margin-right:auto;
    width: 90%;
    border-spacing: 0;
    background-color: #ffffcc;
}


td, th {
    padding: 10px

}
tr:nth-of-type(odd){
    background-color: #d2b48e;
}
.floatleft {
    float: left;
    padding-right: 2em;
    padding-bottom: 2em ;
}
.details {
    padding-left: 20%;
    padding-right: 20%;
    overflow:auto;
}
img {
    padding-left: 10px;
    padding-right: 10px;
}
#wrapper {
    background-color: #231814;
    width: 80%;
    min-width: 900px ;
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 3px 3px 3px #000000;

}
footer {
    border-top: #221811 solid 2px  ;
    padding-bottom: 10px;
    background-color: #D2b48c;
    font-size: .60em;
    font-style: italic;
    text-align: center;
}
header, nav, main, footer {
    display: block;
}
